@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;400;500;600&display=swap");
@font-face {
  font-family: "bau-regular";
  src: url("/fonts/bau-regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "freight-display";
  src: url("/fonts/freight.ttf");
  font-style: normal;
  font-weight: 200;
  font-display: swap;
}
* {
  -webkit-font-smoothing: antialiased;
}
html,
body {
  padding: 0;
  margin: 0;
  background-color: #f5f5f4;
  font-family: "bau-regular", BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
h6,
h5,
small,
span {
  font-family: "bau-regular", Courier, monospace;
}
h1,
h2 {
  font-family: "freight-display", serif;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.nav-wrapper nav {
  background-color: #fcfcf9 0% 0% no-repeat padding-box;
  box-shadow: 0 2px 3px -3px grey;
  height: 59px;
}
select,
button {
  outline: none;
}
select.custom {
  width: 333px;
  appearance: none;
  border: 1px solid #cdd1ce;
  background: transparent
    url(https://cdn.shopify.com/s/files/1/0044/1237/5107/files/down.png?v=1583510959)
    no-repeat;
  background-size: 10px;
  background-position: 95%;
  background-color: transparent;
  padding: 20px;
  font-size: 13px;
  letter-spacing: 0.03px;
  font-family: FF Bau Medium, san-serif !important;
  margin-bottom: 35px;
  color: #4b5548;
}
.cart-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgb(110 123 112 / 40%);
  /* opacity: 0; */
  pointer-events: none;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.cart-wrapper .cart-wrapper__sidebar {
  width:37vw;
  position: fixed;
  right: 0;
  height: 100vh;
  z-index: 12;
  pointer-events: visible;
  /* opacity: 0; */
  /* background-color: white; */
  -webkit-transition: opacity 0.4s ease-in-out 0.1s,
    -webkit-transform 0.4s cubic-bezier(0.28, 0.47, 0.29, 0.86);
  transition: opacity 0.4s ease-in-out 0.1s,
    -webkit-transform 0.4s cubic-bezier(0.28, 0.47, 0.29, 0.86);
  transition: right 0.4s cubic-bezier(0.28, 0.47, 0.29, 0.86),
    right 0.4s ease-in-out 0.1s;
  transition: transform 0.4s cubic-bezier(0.28, 0.47, 0.29, 0.86),
    opacity 0.4s ease-in-out 0.1s,
    -webkit-transform 0.4s cubic-bezier(0.28, 0.47, 0.29, 0.86);
  /* opacity: 0; */
}
select.default {
  /* height: 35px; */
  background: #fff url(//cdn.shopify.com/s/files/1/2960/5204/t/4/assets/select.png?5997012569058552034) no-repeat right center;
  cursor: pointer;
  appearance: none;
  padding: 10px 2em 10px 8px;
  -webkit-padding-end: 30px;
  background-size: 17px 5px;
  -moz-appearance: none;
  text-indent: 0.01px;
  font-weight: 200;
}